[submodule "bash-git-prompt"]
	path = bash-git-prompt
	url = https://github.com/magicmonty/bash-git-prompt.git
[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot.git
[submodule "blackbox"]
	path = blackbox
	url = https://github.com/StackExchange/blackbox
[submodule "Lisp/dash.el"]
	path = Lisp/dash.el
	url = https://github.com/magnars/dash.el.git
[submodule "Lisp/emacs-color-theme-solarized"]
	path = Lisp/emacs-color-theme-solarized
	url = https://github.com/sellout/emacs-color-theme-solarized.git
[submodule "Lisp/emacs-for-python"]
	path = emacs.d/emacs-for-python
	url = https://github.com/gabrielelanaro/emacs-for-python
[submodule "Lisp/flycheck"]
	path = Lisp/flycheck
	url = https://github.com/flycheck/flycheck.git
[submodule "Lisp/git-modes"]
	path = emacs.d/git-modes
	url = https://github.com/magit/git-modes.git
[submodule "Lisp/magit"]
	path = Lisp/magit
	url = https://github.com/magit/magit.git
[submodule "Lisp/markdown-mode"]
	path = Lisp/markdown-mode
	url = git://jblevins.org/git/markdown-mode.git
[submodule "Lisp/yaml-mode"]
	path = Lisp/yaml-mode
	url = https://github.com/yoshiki/yaml-mode.git
[submodule "Lisp/cedet"]
	path = Lisp/cedet
	url = http://git.code.sf.net/p/cedet/git
[submodule "Lisp/nxhtml"]
	path = emacs.d/nxhtml
	url = https://github.com/jwiegley/nxhtml.git
[submodule "emacs.d/chef-mode"]
	path = emacs.d/chef-mode
	url = https://github.com/mpasternacki/chef-mode
